#connection-page {
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: #F1F1F1; }

nav {
  width: 100%;
  display: flex;
  margin: 10px;
  background-color: #F1F1F1;
  opacity: 0.95; }

.logo {
  font-family: 'Playfair Display', serif;
  background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 20px;
  margin-bottom: 20%; }

#create-account {
  color: #474747;
  margin: 20px;
  margin-bottom: 40px; }

.connection-section {
  background-color: #F9F9F9;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; }

.connection-section form {
  display: flex;
  flex-direction: column; }

.connection-section label {
  margin-bottom: 5px;
  color: #474747; }

.connection-section input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ABABAB;
  border-radius: 4px; }

.connection-section button {
  padding: 10px;
  background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%);
  color: #F1F1F1;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.connection-section button:hover {
  background-color: #003352; }

.connection-page-footer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(360deg, #004A79 0%, #009AF0 100%);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #E2E2E2; }

#landing-page {
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  align-items: center; }

.landing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

.landing-section h2 {
  color: #1B1B1B;
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 10px;
  margin-top: -100px; }

.landing-section p {
  color: #474747;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  max-width: 600px; }

#landing-page-image-container {
  background-color: #F1F1F1;
  overflow: hidden;
  width: 80%;
  max-width: 400px;
  border-radius: 34% 66% 13% 87%/28% 64% 36% 72%;
  margin: 20px; }

.landing-image {
  width: 100%; }

.buttons {
  display: flex;
  gap: 20px; }

.btn {
  padding: 10px 20px;
  background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%);
  color: #F1F1F1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; }

.btn:hover {
  background-color: #003352; }

.wave-landing-page {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: -1; }

#landing-page-footer {
  background: linear-gradient(360deg, #004A79 0%, #009AF0 100%);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #E2E2E2; }

#hub-page {
  font-family: 'Poppins', sans-serif;
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  margin: 0;
  overflow: hidden; }

#hub-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: linear-gradient(180deg, #004A79 0%, #009AF0 100%);
  opacity: 0.95; }

#write-btn {
  background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%);
  color: #F1F1F1;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 10px; }

#write-btn i {
  font-size: 20px; }

#hub-title {
  font-family: 'Playfair Display', serif;
  background: #F1F1F1;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 10px; }

.hub-wave {
  position: absolute;
  top: 70px;
  width: 100%;
  z-index: -1; }

#profile-container {
  display: flex;
  align-items: center;
  margin-right: 20px; }

#profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; }

#profile-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer; }

#hub-section {
  width: 100%;
  max-width: 800px; }

#message-list {
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 80px;
  max-height: 620px;
  overflow-y: auto; }

#message-list li {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%; }

.message {
  background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%);
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer; }
  .message:hover {
    animation: fill 0.3s ease-in-out;
    animation-fill-mode: forwards; }
@keyframes fill {
  from {
    background: linear-gradient(135deg, #00629E 0%, #62B0FF 100%); }
  to {
    background: linear-gradient(135deg, #00629E 0%, #009AF0 50%, #62B0FF 100%); } }
.message.clicked {
  background: #F1F1F1;
  animation: none;
  transition: background-color 0.3s ease-in-out; }

.message-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px; }

.message-header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px; }

.message-username {
  font-weight: bold;
  color: #F9F9F9;
  margin-top: -20px; }

.message-content {
  color: #E2E2E2;
  padding-top: 10px;
  margin-left: -73px; }

.message.clicked .message-username {
  color: #1B1B1B; }

.message.clicked .message-content {
  color: #474747; }

#hub-page-footer {
  color: #474747;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  padding: 10px 0; }

/*# sourceMappingURL=style.css.map */
